<h1>Questions#answer</h1>

<p>question</p>

<p>I don't care, my boy!</p>

<%= link_to 'ask a new question!', ask_path %>

<!-- If you don't ask him something, but just tell him something (e.g. "I met a girl last night"), he will just answer back "I don't care, get dressed and go to work!"
If you ask him something (e.g. "Can I eat some pizza?"), he won't be of much help either and he will tell you "Silly question, get dressed and go to work!"
The only way to get rid of him is to tell him what he wants to hear: "I am going to work right now!"
 -->
